<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

{% include 'navbar.html' %}


<h1>Assignment Evaluation System</h1>


<div class="container">

<h2>Login</h2>


<input id="email" placeholder="Email">

<br><br>

<input id="password" type="password" placeholder="Password">

<br><br>

<button onclick="login()">

Login

</button>


<br><br>

<a href="/register">

Register Here

</a>

</div>



<script>

async function login(){

try{

let formData=new FormData()

formData.append(
"email",
document.getElementById("email").value
)

formData.append(
"password",
document.getElementById("password").value
)



let response = await fetch("/loginUser",{

method:"POST",

body:formData

})



if(!response.ok){

alert("Server Error")

return

}



let data = await response.json()



if(data.role=="teacher"){

localStorage.setItem(
"user",
JSON.stringify(data)
)

window.location.href="/teacher"

}



else if(data.role=="student"){

localStorage.setItem(
"user",
JSON.stringify(data)
)

window.location.href="/student"

}



else{

alert("Invalid Email or Password")

}



}

catch(error){

alert("Server not reachable")

console.log(error)

}

}



</script>


</body>

</html>