<div class="navbar">

<h2 onclick="location.href='/'">
Assignment Evaluation System
</h2>


<div id="navLinks">

<a href="/">Home</a>

<a href="/login" id="loginLink">
Login
</a>

<a href="/register" id="registerLink">
Register
</a>

<span id="username" class="username"></span>

<button id="logoutBtn"
class="logoutBtn"
onclick="logout()">

Logout

</button>

</div>

</div>



<style>

/* NAVBAR STYLE */

.navbar{

background:#2c3e50;
color:white;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;

}

.navbar h2{

margin:0;
cursor:pointer;

}


#navLinks{

display:flex;
align-items:center;
gap:20px;

}


.navbar a{

color:#9b59b6;
text-decoration:none;
font-weight:bold;

}


.navbar a:hover{

color:white;

}


/* Username */

.username{

color:white;
font-weight:bold;

}


/* Logout Button */

.logoutBtn{

background:#3498db;
color:white;
border:none;
padding:7px 18px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
display:none;

}


.logoutBtn:hover{

background:#1d4ed8;

}

</style>



<script>


/* LOAD NAVBAR STATE */

document.addEventListener("DOMContentLoaded",function(){

let userData = localStorage.getItem("user")

let loginLink = document.getElementById("loginLink")
let registerLink = document.getElementById("registerLink")
let logoutBtn = document.getElementById("logoutBtn")
let username = document.getElementById("username")



/* NOT LOGGED IN */

if(!userData){

loginLink.style.display="inline-block"
registerLink.style.display="inline-block"
logoutBtn.style.display="none"
username.innerHTML=""

return

}



/* LOGGED IN */

let user = JSON.parse(userData)

loginLink.style.display="none"
registerLink.style.display="none"

logoutBtn.style.display="inline-block"

username.innerHTML="Welcome, "+user.name


})



/* LOGOUT */

function logout(){

localStorage.removeItem("user")

window.location.href="/login"

}

</script>