<!DOCTYPE html>
<html>

<head>

<title>Register</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

{% include 'navbar.html' %}

<h1>Register</h1>


<div class="container">

<input id="name" placeholder="Name">

<input id="email" placeholder="Email">

<input id="password" type="password" placeholder="Password">

<select id="role">

<option value="student">Student</option>

<option value="teacher">Teacher</option>

</select>


<button onclick="register()">

Register

</button>

</div>



<script>


async function register(){

let name = document.getElementById("name").value
let email = document.getElementById("email").value
let password = document.getElementById("password").value
let role = document.getElementById("role").value


/* VALIDATION */

if(name=="" || email=="" || password==""){

alert("Please fill all fields")
return

}


/* FORM DATA */

let formData = new FormData()

formData.append("name",name)
formData.append("email",email)
formData.append("password",password)
formData.append("role",role)



try{


let res = await fetch(

"/registerUser",
{
method:"POST",
body:formData
}


)


let data = await res.json()


if(data.message){

alert(data.message)

}else{

alert("Registered Successfully")

}


window.location="/login"


}

catch(error){

alert("Server Error - Try Again")

}


}



</script>

</body>

</html>